@import '../../styles/shared-styles.scss';

.container {
    color: #fff;
}
.confirmation-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(255,255,255,0.1);
    text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 10%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: #fff;
    margin-right: 10px;
}

table {
    width: 100%;
    border-radius: 10px;
    border:none;
    border-collapse: separate;
    border: 1px solid #fff;
    border-spacing: 0;
    background-color: $shopapp-background-color;
}

th,td {
    padding: 10px;
    text-align: center;
}

.btn-gradient {
    background: linear-gradient(to right, $shoppapp-tint-color, $shopapp-color);
    color: #fff;
    border-radius: 30px;
    width: 200px;
    text-transform: capitalize;
    font-weight: 600;
}