.container-fluid {
    background-color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#sidebar {
    background-color: #555 !important;
    color: #fff;
    height: 100vh;
    overflow-y: auto;
}

#sidebar a {
    color: #fff;
    padding: 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

#sidebar a.active {
    font-weight: bold;
}

#sidebar a:hover {
    background-color: #0056b3;
}

.icon {
    padding: 5px;
}